.input {
  margin: 100px auto;
  height: 25px;
  text-align: center;
  padding: 5px;
  width: 800px;
  box-sizing: border-box;
  text-decoration-color: white;

}

.send {
  padding: 5px;
  box-sizing: border-box;
  width: 700px;
  size: 50px;
}

.main {
  margin: 50px auto;
  height: 25px;
  text-align: center;
  padding: 3px;
  width: 700px;
  box-sizing: border-box;

}

.home {


}